.header{
    position:fixed;
    top: 2.5%;
    flex-direction: row;
    margin-left: 1%;
    padding-left: 1%;
    align-items: flex-end;
    padding-right: 2%;
    width: 10%;

    &__nav{
        display:flex;
        flex-direction: column;

    }
}

  
  


