.section__about{
     justify-content: center;
     display:flex;
     flex-direction: row;
     padding: 1em;
     align-items: stretch;
   .skills{
     padding: 1em;
     box-shadow: 1px 3px 3px 3px rgb(211, 205, 205);
     margin: 1em;
     border-radius: 20px;
   align-items: center;
     &__title{
      color: rgb(90, 88, 88);
     }
     &__title:hover {
      color: var(--hover-color); 
      transform: scale(1.2);
    }
   }
}
 
 