*{
  padding-inline-start: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  // margin: 0 auto;
  
}
html{

   
   
    background-color: rgb(255, 255, 255);
 
  
}
.App {
   text-align: center;
   font-family: 'Alegreya Sans', sans-serif;
   scroll-behavior: smooth;
   background-color: rgb(255, 255, 255);

   


}
.canvasClass{
   mix-blend-mode:darken;
}
